<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @employee_data.f_name+" "+@employee_data.l_name%>,</h1>
    <p>
      Manager give feedback for your respected review's please check! 
    </p>
    <h1>Email By @Reviews System</h1>
  </body>
</html>