<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear Admin,</h1>
    <p>
      Manager <%= @reporter.f_name+" "+@reporter.l_name%> give feedback for employee <%= @employee.f_name+" "+@employee.l_name%> respected review please check! 
    </p>
    <h1>Email By @Reviews System</h1>
  </body>
</html>