<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey</h1>
    <h3>You can give review for company from <%= @review.review_date%> till <%= @review.review_deadline_date%> </h3>
    <p>
      link for updation 
    </p>
  </body>
</html>